body {
    transition: 0.2s;
}

label {
    font-size: 22px;
}

input {
    font-size: 18px
}

::placeholder {
    font-size: 14px;
}

.row {
    display: flex;
}
  
  /* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
    height: 200px;
}

#verify {
    color: red;
    font-weight: bold;
}